@using TellarknightApp.Services
@using TellarknightApp.Models
@using CommunityToolkit.Maui
@using System.Text
@using CommunityToolkit.Maui.Storage
@using CommunityToolkit.Maui.Alerts
@inject SupportedCards supportedCards
@inject Decklist decklist
@inject IFileSaver FileSaver

<div class="app-grid-container">
    <div class="item grid-search">
        <div class="grid-search-container">
            <div class="grid-search-1">
                <input id="SearchValues.SearchQuery" type="text" class="search-input" @bind="SearchValues.SearchQuery" />
            </div>
            <div class="size grid-search-2">
                <button class="btn btn-primary" @onclick="() => CardSearch.InvokeAsync(SearchValues)">Search</button>
            </div>
            <div class="grid-search-3">
                <select @bind="SearchValues.TypeQuery" style="height: 100%; width: 100%;">
                    <option value="">Type/Role</option>
                    <option value="Monster">Monster</option>
                    <option value="Spell">Spell</option>
                    <option value="Trap">Trap</option>
                    <option value="Extender">Extender</option>
                    <option value="Hand Trap">Hand Trap</option>
                </select>
            </div>
            <div class="grid-search-4">
                <select @bind="SearchValues.ArchetypeQuery" style="height: 100%; width: 100%;">
                    <option value="">Archetype</option>
                    <option value="None">None</option>
                    <option value="Tellarknight">Tellarknight</option>
                    <option value="Constellar">Constellar</option>
                    <option value="Zefra">Zefra</option>
                    <option value="SHS">SHS</option>
                    <option value="Ryzeal">Ryzeal</option>
                    <option value="Centur-Ion">Centur-Ion</option>
                    <option value="Runick">Runick</option>
                    <option value="Kashtira">Kashtira</option>
                    <option value="Mathmech">Mathmech</option>
                </select>
            </div>
        </div>
    </div>

    <div class="grid-cards">
        @if (SearchValues.Select)
        {
            var filteredCards = supportedCards.Cards
            .Where(x => string.IsNullOrWhiteSpace(SearchValues.SearchQuery.ToLower()) || x.Name.ToLower().Contains(SearchValues.SearchQuery.ToLower()))
            .Where(x => string.IsNullOrWhiteSpace(SearchValues.ArchetypeQuery) || x.Archetype.Contains(SearchValues.ArchetypeQuery))
            .Where(x => string.IsNullOrWhiteSpace(SearchValues.TypeQuery) ||
            (SearchValues.TypeQuery == "Monster" ? (x.Type != "Spell" && x.Type != "Field Spell" && x.Type != "Trap") :
            (SearchValues.TypeQuery == "Spell (includes Field Spell)" ? (x.Type == "Spell" || x.Type == "Field Spell") :
            (SearchValues.TypeQuery == "Extender" ? x.Role == "Extender" :
            (SearchValues.TypeQuery == "Hand Trap" ? x.Role == "Hand Trap" : x.Type == SearchValues.TypeQuery)))))
            .ToList();


            SearchValues.TotalItems = filteredCards.Count;
            var pagedCards = filteredCards
            .Skip((SearchValues.CurrentPage - 1) * SearchValues.ItemsPerPage)
            .Take(SearchValues.ItemsPerPage);

            <div class="card-container">
                @foreach (Card card in pagedCards)
                {
                    <div class="grid-item">
                        <img src="@card.Image" alt="@card.Name" class="item-image" title="@GenerateCardTooltip(card)" />
                        <div class="quantity-control">
                            <button class="btn-quantity" @onclick="() => DecreaseQuantity.InvokeAsync(card)">-</button>
                            <input type="text" class="item-input" @bind="card.Quantity" />
                            <button class="btn-quantity" @onclick="() => IncreaseQuantity.InvokeAsync(card)">+</button>
                        </div>
                    </div>
                }
            </div>

            <div style="display: flex; justify-content: center;">
                <hr style="width: 90%;" />
            </div>

            <div style="display: flex; justify-content: center; align-items: center;">
                <button class="btn-primary"
                        style="width: 12.5%; height: 40px;"
                        @onclick="PreviousPage"
                        disabled="@(SearchValues.CurrentPage == 1)">
                    Previous Page
                </button>
                <p style="font-size: clamp(12px, 1.5vw, 36px); margin: 0; line-height: 40px; padding: 0 2%;">
                    @($"{SearchValues.CurrentPage}/{(SearchValues.TotalItems + SearchValues.ItemsPerPage - 1) / SearchValues.ItemsPerPage}")
                </p>
                <button class="btn-primary"
                        style="width: 12.5%; height: 40px;"
                        @onclick="NextPage"
                        disabled="@(SearchValues.CurrentPage * SearchValues.ItemsPerPage >= SearchValues.TotalItems)">
                    Next Page
                </button>
            </div>

            <div style="display: flex; justify-content: center;">
                <hr style="width: 90%;" />
            </div>
        }
        else
        {
            <div class="card-container">
                @foreach (Card card in decklist.MainDeck.Where(x => x.Type != "Spell" && x.Type != "Field Spell" && x.Type != "Trap" && x is not EmptyCard && x.Role != "Extra Deck"))
                {
                    <div class="grid-item">
                        <img src="@card.Image" alt="@card.Name" class="item-image" title="@GenerateCardTooltip(card)" />
                    </div>
                }
                @foreach (Card card in decklist.MainDeck.Where(x => (x.Type == "Spell" || x.Type == "Field Spell")))
                {
                    <div class="grid-item">
                        <img src="@card.Image" alt="@card.Name" class="item-image" title="@GenerateCardTooltip(card)" />
                    </div>
                }
                @foreach (Card card in decklist.MainDeck.Where(x => x.Type == "Trap"))
                {
                    <div class="grid-item">
                        <img src="@card.Image" alt="@card.Name" class="item-image" title="@GenerateCardTooltip(card)" />
                    </div>
                }
                @foreach (Card card in decklist.ExtraDeck)
                {
                    <div class="grid-item">
                        <img src="@card.Image" alt="@card.Name" class="item-image" title="@GenerateCardTooltip(card)" />
                    </div>
                }
                @foreach (Card card in decklist.MainDeck.Where(x => x is EmptyCard))
                {
                    <div class="grid-item">
                        <img src="@card.Image" alt="@card.Name" class="item-image" title="@GenerateCardTooltip(card)" />
                    </div>
                }
            </div>
        }
    </div>
</div>


@code {
    [Parameter]
    public EventCallback UpdateState { get; set; }
    [Parameter]
    public SearchComponentValues SearchValues { get; set; }
    [Parameter]
    public EventCallback<SearchComponentValues> CardSearch { get; set; }
    public EventCallback NextPage { get; set; }
    public EventCallback PreviousPage { get; set; }
    public EventCallback IncreaseQuantity { get; set; }
    public EventCallback DecreaseQuantity { get; set; }    

    private void HandleTypeChange(ChangeEventArgs e)
    {
        SearchValues.TypeQuery = e.Value?.ToString();
        CardSearch.InvokeAsync(SearchValues);
    }
    private void HandleArchetypeChange(ChangeEventArgs e)
    {
        SearchValues.ArchetypeQuery = e.Value?.ToString();
        CardSearch.InvokeAsync(SearchValues);
    }

    public static string GenerateCardTooltip(Card card)
    {
        var tooltipLines = new List<string>
            {
                $"Name: {card.Name}",
                $"Type: {card.Type}"
            };
        if (!string.IsNullOrWhiteSpace(card.Attribute))
            tooltipLines.Add($"Attribute: {card.Attribute}");
        if (card.Level.HasValue && card.Role != "Extra Deck")
            tooltipLines.Add($"Level: {card.Level.Value}");
        if (card.Level.HasValue && card.Role == "Extra Deck")
            tooltipLines.Add($"Level/Rank: {card.Level.Value}");
        if (card.Attack.HasValue || card.Defense.HasValue)
            tooltipLines.Add($"ATK/DEF: {(card.Attack?.ToString() ?? "N/A")}/{(card.Defense?.ToString() ?? "N/A")}");
        if (card.Scale.HasValue)
            tooltipLines.Add($"Scale: {card.Scale.Value}");
        tooltipLines.Add($"Archetype: {(card.Archetype != null ? string.Join(", ", card.Archetype) : "N/A")}");

        return string.Join("\n", tooltipLines);
    }
}
