@inject SupportedCards supportedCards
@inject Decklist decklist

<div class="app-grid-container">
    <!-- Options & Start Button -->
    <div class="item grid-options">
        <div class="grid-options-container">
            <div class="grid-options-1">
                <b>Hand:</b>
            </div>
            <div class="grid-options-2">
                <div style="width: 100%; height: 100%; position: relative;">
                    <div style="width: 100%; background-color: transparent; height: 100%; position: absolute;"></div>
                    <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="StatValues.StartingHand">
                </div>
            </div>
            <div class="grid-options-3">
                <b>Sample:</b>
            </div>
            <div class="grid-options-4">
                <div style="width: 100%; height: 100%; position: relative;">
                    <div style="width: @($"{(double)StatValues.CurrentCount / StatValues.MaximumCount * 100}%"); background-color: lightgreen; height: 100%; position: absolute;"></div>
                    @if (StatValues.Active == true)
                    {
                        <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="StatValues.CurrentCount" readonly>
                    }
                    else
                    {
                        <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="StatValues.MaximumCount">
                    }

                </div>
            </div>
            <div class="grid-options-5">
                <button class="btn btn-danger" HorizontalOptions="Center" @onclick="@(() => ResetCards.InvokeAsync())">Reset</button>
            </div>
            <div class="grid-options-7">
                <button class="btn btn-primary" HorizontalOptions="Center" @onclick="@(() => CheckDeck.InvokeAsync())">Check Deck</button>
            </div>
        </div>
    </div>
    <!-- Deck Statistics -->
    <div class="item grid-statistics">
        <div class="grid-statistics-container">
            <div class="grid-statistics-1">
                <div class="title">
                    <b>Basic Stats:</b>
                </div>
                <div>
                    Deck Size: @(!StatValues.Idle ? decklist.MainDeck.Count() : 40) <br />

                    Total Monsters: @decklist.MainDeck.Count(x => x.Level != null) <br />

                    Combo Chance: @(!StatValues.Idle ? Math.Round(((StatValues.CurrentCount - DeckStatistics.BrickChance) / StatValues.CurrentCount) * 100, 2)
                    : 0)% <br />

                    Brick Chance: @(!StatValues.Idle ? Math.Round((DeckStatistics.BrickChance / StatValues.CurrentCount) * 100, 2)
                    : 100)% <br />

                    (1 In @(!StatValues.Idle ? Math.Round(StatValues.CurrentCount / (double)DeckStatistics.BrickChance, 2)
                    : 1)) <br />
                </div>
            </div>
            <div class="grid-statistics-2">
                <div class="title">
                    <b>Summon Stats:</b>
                </div>
                <div>
                    Xyz Summon (0 Tellars): @(!StatValues.Idle ? $"{Math.Round((DeckStatistics.AverageXyzNoTellar / StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />
                    
                    Xyz Summon (1 Tellars): @(!StatValues.Idle ? $"{Math.Round((DeckStatistics.AverageXyzOneTellar / StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                    Xyz Summon (2 Tellars): @(!StatValues.Idle ? $"{Math.Round((DeckStatistics.AverageXyzTwoTellar / StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                    Pendulum Chance: @(!StatValues.Idle ? $"{Math.Round((DeckStatistics.PendulumSummon / StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                    Oracle Combo Chance: @(!StatValues.Idle ? $"{Math.Round((DeckStatistics.OracleCombo / StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                </div>
            </div>
            <div class="grid-statistics-3">
                <div class="title">
                    <b>Hand Stats:</b>
                </div>
                <div>
                    Average # Tellars: @(!StatValues.Idle ? $"{Math.Round(DeckStatistics.AverageTellars / StatValues.CurrentCount, 2)}"
                    : "N/A") <br />
                    
                    Average # Extenders: @(!StatValues.Idle ? $"{Math.Round(DeckStatistics.AverageExtenders / StatValues.CurrentCount, 2)}"
                    : "N/A") <br />

                    Average # Hand Traps: @(!StatValues.Idle ? $"{Math.Round(DeckStatistics.AverageHandTraps / StatValues.CurrentCount, 2)}"
                    : "N/A") <br />


                </div>
            </div>
            <div class="grid-statistics-4">
                <div class="title">
                    <b>Other Stats:</b>
                </div>
                <div>
                    Isolde Brick Chance: @(!StatValues.Idle ? $"{Math.Round((DeckStatistics.IsoldeBrick / StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                    Armored Brick Chance: @(!StatValues.Idle ? $"{Math.Round((DeckStatistics.ArmoredBrick / StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />
                    
                    Ryzeal Lock Chance: @(!StatValues.Idle ? $"{Math.Round((DeckStatistics.RyzealLock / StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                </div>
            </div>

            <div class="grid-statistics-extra">
                <div class="hand-test-container">
                    <!-- Button Section -->
                    <div class="card-button">
                        <button class="btn btn-secondary" style="width: 42.5%" @onclick="@(() => CheckHand.InvokeAsync())">Check Hand</button>
                        <text class="check-hand-text">
                            <b style="margin-right: 3px; font-size: clamp(6px, 1vw, 36px);">Result: </b>
                            @if (StatValues.HandTested == true && DeckStatisticsHand.BrickChance != 0)
                            {
                                <text> Bricked!</text>
                            }
                            else if (StatValues.HandTested == true && DeckStatisticsHand.BrickChance == 0)
                            {
                                <text> Success!</text>
                            }
                            else
                            {
                                <text> N/A</text>
                            }
                        </text>
                    </div>
                    <!-- Card Grid Section -->
                    <div class="card-container">
                        @foreach (Card card in HandTest)
                        {
                            <div class="grid-item">
                                <img src="@card.Image" alt="@card.Name" class="item-image" />
                            </div>
                        }

                        @if (HandTest.Count == 5)
                        {
                            <div class="grid-item">
                                <img src="./CardArt/Empty.jpg" alt="Empty" class="item-image" />
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback CheckDeck { get; set; }
    [Parameter]
    public EventCallback CheckHand { get; set; }
    [Parameter]
    public EventCallback ResetCards { get; set; }
    [Parameter]
    public StatisticsComponentValues StatValues { get; set; }
    [Parameter]
    public DeckStatistics DeckStatistics { get; set; }
    [Parameter]
    public DeckStatistics DeckStatisticsHand { get; set; }
    [Parameter]
    public List<Card> HandTest { get; set; }
}