@using TellarknightApp.Services
@using TellarknightApp.Models
@using TellarknightApp.Cards
@inject DeckStatistics deckStatistics
@inject SupportedCards supportedCards
@inject GameState gameState
@inject Decklist decklist

<div class="app-grid-container">
    <div class="item grid-options">
        <div style="display: flex; justify-content: space-between; align-items: center; margin: 0.5%">
            <div style="width: 17.5%;">
                <div><b>Hand Size:</b></div>
                <div><b>Sample Size:</b></div>
            </div>
            <div style="width: 15%;">
                <input type="text" style="width: 90%; text-align: center;" @bind-value="startingHand">
                <input type="text" style="width: 90%; text-align: center;" @bind-value="maximumCount">
            </div>
            <div style="width: 20%; text-align: left;">
                <button class="btn btn-primary" @onclick="@(() => { if (!active) CheckDeck(); })">Check Deck</button>
                <div>Tested: @currentCount</div>
            </div>
            <div style="width: 23.75%; text-align: center;">
                <button class="btn btn-primary" @onclick="@(() => { if (!active) ResetCards(); })">Reset</button>
                <div style="color: white">Reset</div>
            </div>
        </div>
    </div>
    <div class="item grid-statistics">
        <b>Basic Stats:</b> <br />

        
            <text>
                Deck Size: @decklist.MainDeck.Count() <br />
                Total Monsters: @decklist.MainDeck.Count(x => x.Level != null)) <br />
                Combo Chance: @(Math.Round(((currentCount - deckStatistics.BrickChance) / currentCount) * 100, 2))% <br />
                Brick Chance: @(Math.Round((deckStatistics.BrickChance / currentCount) * 100, 2))% <br />
                (1 In @(Math.Round(currentCount / (double)deckStatistics.BrickChance, 2)))
            </text>
        

    </div>
</div>

@code{
    private bool active = false;
    private int startingHand = 5;
    private int maximumCount = 15000;
    private int currentCount;

    private async Task CheckDeck()
    {
        maximumCount = (maximumCount > 100000) ? 100000 : (maximumCount < 5000 ? 5000 : maximumCount);
        startingHand = (startingHand < 1) ? 1 : (startingHand > 6 ? 6 : startingHand);

        active = true;
        currentCount = 0;

        int tempCount = 0;
        int tempCountNext = (int)(maximumCount * 0.001);
        Random random = new Random();

        BuildDecklist();

        // Main Loop
        for (int i = 0; i < maximumCount; i++)
        {
            RefreshGameState();
            ShuffleDeck();
            DrawHand();

            // Check Hand & Deck For Optimal Searches
            gameState = CardSearcher.CardSearch(gameState);

            // Analyze Hand & Update Hand Statistics
            deckStatistics = HandAnalyzer.HandCheck(gameState, deckStatistics);

            // Visual updates
            currentCount++;
            tempCount++;
            if (tempCount >= tempCountNext)
            {
                tempCountNext = tempCountNext + random.Next((int)(maximumCount * 0.0005), (int)(maximumCount * 0.015));
                await InvokeAsync(StateHasChanged);
            }
        }
        active = false;
        await InvokeAsync(StateHasChanged);
    }

    // Filter cards and quantities in supportedcards to fill the contents of the decklist
    private void BuildDecklist()
    {
        decklist = new Decklist();
        foreach (Card card in supportedCards.Cards)
        {
            if (card.Quantity > 3 && card is not Level4 && card is not EmptyCard)
            {
                card.Quantity = 3;
            }
            if (card.Quantity > 0 && card.Role != "Extra Deck")
            {
                for (int i = 0; i < card.Quantity; i++)
                {
                    decklist.MainDeck.Add(card);
                }
            }
            if (card.Quantity > 0 && card.Role == "Extra Deck")
            {
                for (int i = 0; i < card.Quantity; i++)
                {
                    decklist.ExtraDeck.Add(card);
                }
            }
        }
        while (gameState.Deck.Count < 40)
        {
            gameState.Deck.Add(new EmptyCard());
        }
    }


    // Clears the gamestate and transfer decklist contents to gamestate
    private void RefreshGameState()
    {
        gameState = new GameState();
        foreach (Card card in decklist.MainDeck)
        {
            gameState.Deck.Add(card);
        }
        foreach (Card card in decklist.ExtraDeck)
        {
            gameState.ExtraDeck.Add(card);
        }
    }

    // Shuffles the deck fisher-yates style
    private void ShuffleDeck()
    {
        var random = new Random();
        int deckCount = gameState.Deck.Count;
        for (int i = 0; i < 3; i++)
        {
            while (deckCount > 1)
            {
                deckCount--;
                int randomIndex = random.Next(deckCount + 1);
                var tempCard = gameState.Deck[randomIndex];
                gameState.Deck[randomIndex] = gameState.Deck[deckCount];
                gameState.Deck[deckCount] = tempCard;
            }
        }
    }

    public void DrawHand()
    {
        for (int i = 0; i < startingHand; i++)
        {
            gameState.Hand.Add(gameState.Deck[0]);
            gameState.Deck.RemoveAt(0);
        }
    }

    private void ResetCards()
    {
        currentCount = 0;
        deckStatistics = new DeckStatistics();
        supportedCards = new SupportedCards();
        gameState = new GameState();
        decklist = new Decklist();
        InvokeAsync(StateHasChanged);
    }
}
