@inject DeckStatistics deckStatistics
@inject SupportedCards supportedCards
@inject GameState gameState
@inject Decklist decklist

<div class="app-grid-container">
    <!-- Options & Start Button -->
    <div class="item grid-options">
        <div class="grid-options-container">
            <div class="grid-options-1">
                <b>Hand:</b>
            </div>
            <div class="grid-options-2">
                <div style="width: 100%; height: 100%; position: relative;">
                    <div style="width: 100%; background-color: transparent; height: 100%; position: absolute;"></div>
                    <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="startingHand">
                </div>
            </div>
            <div class="grid-options-3">
                <b>Sample:</b>
            </div>
            <div class="grid-options-4">
                <div style="width: 100%; height: 100%; position: relative;">
                    <div style="width: @($"{(double)currentCount / maximumCount * 100}%"); background-color: lightgreen; height: 100%; position: absolute;"></div>
                    @if(active == true)
                    {
                        <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="currentCount" readonly>
                    }
                    else
                    {
                        <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="maximumCount">
                    }

                </div>
            </div>
            <div class="grid-options-5">
                <button class="btn btn-danger" HorizontalOptions="Center" @onclick="@(() => ResetCards())">Reset</button>
            </div>
            <div class="grid-options-7">
                <button class="btn btn-primary" HorizontalOptions="Center" @onclick="@(() => CheckDeck())">Start</button>
            </div>
        </div>
    </div>
    <!-- Deck Statistics -->
    <div class="item grid-statistics">
        <div class="grid-statistics-container">
            <div class="grid-statistics-1">
                <div class="title">
                    <b>Basic Stats:</b>
                </div>
                <div class="stats">
                    Deck Size: @(decklist.MainDeck.Count() > 40 ? decklist.MainDeck.Count() : 40) <br />
                    Total Monsters: @decklist.MainDeck.Count(x => x.Level != null) <br />

                    Combo Chance: @((currentCount > 0 && currentCount != deckStatistics.BrickChance)
                    ? Math.Round(((currentCount - deckStatistics.BrickChance) / currentCount) * 100, 2)
                    : 0)% <br />

                    Brick Chance: @((currentCount > 0 && deckStatistics.BrickChance > 0)
                    ? Math.Round((deckStatistics.BrickChance / currentCount) * 100, 2)
                    : 100)% <br />

                    (1 In @((currentCount > 0 && deckStatistics.BrickChance > 0)
                    ? Math.Round(currentCount / (double)deckStatistics.BrickChance, 2)
                    : 1)) <br />

                    Pendulum Chance: @((currentCount > 0 && currentCount != deckStatistics.BrickChance)
                    ? $"{Math.Round((deckStatistics.PendulumSummon / currentCount) * 100, 2)}%"
                    : "N/A")
                </div>

            </div>
            <div class="grid-statistics-2">
                <b>Untitled Stats:</b> <br />
                <text>

                </text>
            </div>
            <div class="grid-statistics-3">
                <b>Untitled Stats:</b> <br />
                <text>

                </text>
            </div>
            <div class="grid-statistics-4">
                <b>Untitled Stats:</b> <br />
                <text>

                </text>
            </div>
            <div class="grid-statistics-5">
            </div>
            <div class="grid-statistics-6">
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback UpdateState { get; set; }
    private bool active = false;
    private int startingHand = 5;
    private int maximumCount = 15000;
    private int currentCount;

    private async Task CheckDeck()
    {
        // Temporarily removed maximumCount check for testing purposes
        //maximumCount = (maximumCount > 100000) ? 100000 : (maximumCount < 5000 ? 5000 : maximumCount);
        startingHand = (startingHand < 1) ? 1 : (startingHand > 6 ? 6 : startingHand);

        active = true;
        currentCount = 0;
        deckStatistics = new DeckStatistics();

        int tempCount = 0;
        int tempCountNext = (int)(maximumCount * 0.001);
        Random random = new Random();

        BuildDecklist();
        await UpdateState.InvokeAsync();

        // Testing

        // Main Loop
        for (int i = 0; i < maximumCount; i++)
        {
            RefreshGameState();
            ShuffleDeck();
            DrawHand();

            // Check Hand & Deck For Optimal Searches
            gameState = CardSearcher.CardSearch(gameState);

            // Analyze Hand & Update Hand Statistics
            deckStatistics = HandAnalyzer.HandCheck(gameState, deckStatistics);

            // Visual updates
            currentCount++;
            tempCount++;
            if (tempCount >= tempCountNext)
            {
                tempCountNext = tempCountNext + random.Next((int)(maximumCount * 0.0005), (int)(maximumCount * 0.015));
                await InvokeAsync(StateHasChanged);
            }
        }
        active = false;
        await InvokeAsync(StateHasChanged);
    }

    // Filter cards and quantities in supportedcards to fill the contents of the decklist
    private void BuildDecklist()
    {
        decklist = new Decklist();
        foreach (Card card in supportedCards.Cards)
        {
            if (card.Quantity > 3 && card is not Level4 && card is not EmptyCard)
            {
                card.Quantity = 3;
            }
            if (card.Quantity > 0 && card.Role != "Extra Deck")
            {
                for (int i = 0; i < card.Quantity; i++)
                {
                    decklist.MainDeck.Add(card);
                }
            }
            if (card.Quantity > 0 && card.Role == "Extra Deck")
            {
                for (int i = 0; i < card.Quantity; i++)
                {
                    decklist.ExtraDeck.Add(card);
                }
            }
        }
        while (decklist.MainDeck.Count < 40)
        {
            decklist.MainDeck.Add(new EmptyCard());
        }
    }


    // Clears the gamestate and transfer decklist contents to gamestate
    private void RefreshGameState()
    {
        gameState = new GameState();
        foreach (Card card in decklist.MainDeck)
        {
            gameState.Deck.Add(card.Clone());
        }
        foreach (Card card in decklist.ExtraDeck)
        {
            gameState.ExtraDeck.Add(card.Clone());
        }
    }

    // Shuffles the deck fisher-yates style
    private void ShuffleDeck()
    {
        var random = new Random();
        int deckCount = gameState.Deck.Count;
        for (int i = 0; i < 3; i++)
        {
            while (deckCount > 1)
            {
                deckCount--;
                int randomIndex = random.Next(deckCount + 1);
                var tempCard = gameState.Deck[randomIndex];
                gameState.Deck[randomIndex] = gameState.Deck[deckCount];
                gameState.Deck[deckCount] = tempCard;
            }
        }
    }

    public void DrawHand()
    {
        for (int i = 0; i < startingHand; i++)
        {
            gameState.Hand.Add(gameState.Deck[0]);
            gameState.Deck.RemoveAt(0);
        }
    }

    public void ResetCards()
    {
        currentCount = 0;
        deckStatistics = new DeckStatistics();
        supportedCards = new SupportedCards();
        gameState = new GameState();
        decklist = new Decklist();
        UpdateStateChild();
    }

    public async Task UpdateStateChild()
    {
        await UpdateState.InvokeAsync();
    }
}
