@page "/deck"
@inherits Components.BaseComponent
@inject CardManager CardManager
@inject StatisticsManager StatisticsManager
@inject GameState GameState
@inject SupportedCards SupportedCards


<div class="app-grid-container">

    <div class="grid-button1">
        <button type="button" class="social-btn standard-btn" @onclick="() => YdkMenuButton(true)">
            <img src="./file.svg">
            <span>YDK&nbsp;Menu</span>
        </button>
    </div>

    <div class="grid-button2">
        <button type="button" class="social-btn standard-btn" @onclick="() => RemovePlaceholders()">
            <img src="./clean.svg">
            <span>Clean&nbsp;</span>
        </button>
    </div>

    <div class="grid-button3">
        <button type="button" class="social-btn reset-btn" @onclick="ResetCards">
            <img src="./reset.svg">
            <span>Reset</span>
        </button>
    </div>

    <div class="grid-cards">

        <div class="card-container">
            @foreach (Card card in CardManager.MainDeck)
            {
                <div class="grid-item">
                    <img src="@card.Image" alt="@card.Name" loading="lazy" class="item-image" title="@GenerateCardTooltip(card)" />
                </div>
            }
            @foreach (Card card in CardManager.ExtraDeck)
            {
                <div class="grid-item">
                    <img src="@card.Image" alt="@card.Name" loading="lazy" class="item-image" title="@GenerateCardTooltip(card)" />
                </div>
            }
        </div>
    </div>
</div>

@if (showYdk)
{
    <div class="ydk-backdrop" @onclick="() => YdkMenuButton(false)">
        <div class="modal-content" @onclick:stopPropagation>

            <h3>YDK Menu</h3>
            <p class="ydk-text">
                Any unsupported cards will generate placeholder cards when imported.
            </p>

            <div class="ydk-button-row">
                <button class="btn btn-primary ydk-button" @onclick="ExportYdk">Export YDK</button>
                <button class="btn btn-primary ydk-button" @onclick="ImportYdk">Import YDK</button>
                <button class="btn btn-primary ydk-button" @onclick="() => YdkMenuButton(false)">Close</button>
            </div>
        </div>
    </div>
}

@code {
    private bool showYdk= false;

    protected override async Task OnInitializedAsync()
    {
        CardManager.BuildDecklist();
        StatisticsManager.ActionRefresh += OnRefresh;
    }

    public async Task ResetCards()
    {
        CardManager.RefreshCards();
        GameState.RefreshGameState(CardManager.MainDeck, CardManager.ExtraDeck);
        SupportedCards.RefreshUpdate();
        StatisticsManager.StatValues.Idle = true;
        StatisticsManager.RefreshStatistics();
    }

    private async void RemovePlaceholders()
    {
        CardManager.RemovePlaceholders();
        await InvokeAsync(StateHasChanged);
    }

    private async void OnRefresh()
    {
        CardManager.BuildDecklist();
        await InvokeAsync(StateHasChanged);
    }

    public static string GenerateCardTooltip(Card card)
    {
        var lines = new List<string> { $"Name: {card.Name}" };

        if (!string.IsNullOrEmpty(card.Type))
            lines.Add($"Type: {card.Type}");
        if (!string.IsNullOrEmpty(card.Attribute))
            lines.Add($"Attribute: {card.Attribute}");
        if (card.Level.HasValue)
            lines.Add($"Level/Rank: {card.Level}");
        if (card.Scale.HasValue)
            lines.Add($"Scale: {card.Scale}");
        if (card.Attack.HasValue || card.Defense.HasValue)
            lines.Add($"ATK/DEF: {card.Attack.Value.ToString()}/{card.Defense.Value.ToString()}");

        if (card.Archetype != null && card.Archetype.Count > 0)
            lines.Add($"Archetype: {string.Join(", ", card.Archetype)}");
        else
            lines.Add("Archetype: N/A");

        return string.Join("\n", lines);
    }

    private void YdkMenuButton(bool value)
    {
        showYdk = value;
        StateHasChanged();
    }

    async Task ExportYdk()
    {
        showYdk = false;
        await CardManager.ExportYdk();
        StateHasChanged();
    }

    async Task ImportYdk()
    {
        showYdk = false;
        await CardManager.ImportYdk();
        StateHasChanged();
    }
}