@page "/deck"
@inherits Components.BaseComponent
@inject CardManager CardManager
@inject StatisticsManager StatisticsManager
@inject GameState GameState

<div class="app-grid-container">
        <div class="grid-menu-container">
            <div class="grid-menu-1">
            <button class="btn btn-primary" @onclick="() => YdkMenuButton(true)">YDK Menu</button>
                <!--<button class="btn btn-primary" @onclick=@(() => navigationManager.NavigateTo("search"))>YDK Import/Export</button>-->
            </div>
            <div class="grid-menu-2">
                <button class="btn btn-primary" @onclick=@(() => navigationManager.NavigateTo("search"))>Clear Unsupported</button>
            </div>
            <div class="grid-menu-3">
            <button class="btn btn-danger" @onclick=@(() => navigationManager.NavigateTo("search"))>Search</button>

            </div>
        </div>


    <div class="grid-cards">
        <div class="card-container">
            @foreach (Card card in CardManager.MainDeck)
            {
                <div class="grid-item">
                    <img src="@card.Image" alt="@card.Name" loading="lazy" class="item-image" title="@GenerateCardTooltip(card)" />
                </div>
            }

            @foreach (Card card in CardManager.ExtraDeck)
            {
                <div class="grid-item">
                    <img src="@card.Image" alt="@card.Name" loading="lazy" class="item-image" title="@GenerateCardTooltip(card)" />
                </div>
            }
        </div>
    </div>
    @if (showYdk)
    {
        <div class="ydk-backdrop" @onclick="() => YdkMenuButton(false)">
            <div class="modal-content" @onclick:stopPropagation>

                <h3>YDK Menu</h3>
                <p class="ydk-text">
                    Any unsupported cards will generate placeholder cards when imported.
                </p>

                <div class="ydk-button-row">
                    <button class="btn btn-primary ydk-button" @onclick="ExportYdk">Export YDK</button>
                    <button class="btn btn-primary ydk-button" @onclick="ImportYdk">Import YDK</button>
                    <button class="btn btn-primary ydk-button" @onclick="() => YdkMenuButton(false)">Close</button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private bool showYdk= false;

    protected override async Task OnInitializedAsync()
    {
        CardManager.BuildDecklist();
        StatisticsManager.ActionRefresh += OnRefresh;
    }

    private void YdkMenuButton(bool value)
    {
        showYdk = value;
        StateHasChanged();
    }

    private async void OnRefresh()
    {
        CardManager.BuildDecklist();
        await InvokeAsync(StateHasChanged);
    }

    public static string GenerateCardTooltip(Card card)
    {
        var lines = new List<string> { $"Name: {card.Name}" };

        if (!string.IsNullOrEmpty(card.Type))
            lines.Add($"Type: {card.Type}");
        if (!string.IsNullOrEmpty(card.Attribute))
            lines.Add($"Attribute: {card.Attribute}");
        if (card.Level.HasValue)
            lines.Add($"Level/Rank: {card.Level}");
        if (card.Scale.HasValue)
            lines.Add($"Scale: {card.Scale}");
        if (card.Attack.HasValue || card.Defense.HasValue)
            lines.Add($"ATK/DEF: {card.Attack.Value.ToString()}/{card.Defense.Value.ToString()}");

        if (card.Archetype != null && card.Archetype.Count > 0)
            lines.Add($"Archetype: {string.Join(", ", card.Archetype)}");
        else
            lines.Add("Archetype: N/A");

        return string.Join("\n", lines);
    }

    async Task ExportYdk()
    {
        showYdk = false;
        await CardManager.ExportYdk();
        StateHasChanged();
    }

    async Task ImportYdk()
    {
        showYdk = false;
        await CardManager.ImportYdk();
        StateHasChanged();
    }
}