@page "/"
@inherits Components.BaseComponent
@inject CardManager CardManager
@inject StatisticsManager StatisticsManager
@inject GameState GameState

<!-- 
<div class="app-grid-container">
    <div class="item grid-statistics">
        <StatisticsComponent DeckStatistics="@deckStatistics" DeckStatisticsHand="@deckStatisticsHand" StatisticsManager.StatValues="@StatisticsManager.StatValues" HandTest="@handTest" CheckDeck="CheckDeck" CheckHand="CheckHand" ResetCards="ResetCards"></StatisticsComponent>
    </div>
    <div class="item grid-cards">
        <CardsComponent SearchValues="@searchValues" CardSearch="CardSearch"></CardsComponent>
    </div>
</div>-->

@code{







    








    protected override async Task OnInitializedAsync()
    {
        //supportedCards.Action += StateHasChanged;
        //decklist.Action += StateHasChanged;
    }

















    

    private string GenerateYdk()
    {
        decklist.BuildDecklist(supportedCards);
        var sb = new StringBuilder();

        sb.AppendLine("#main");
        foreach (var card in decklist.MainDeck.Where(x => x.Role != "Extra Deck" && x.Id != 0))
        {
            sb.AppendLine(card.Id.ToString());
        }

        sb.AppendLine("#extra");
        foreach (var card in decklist.ExtraDeck.Where(x => x.Id != 0))
        {
            sb.AppendLine(card.Id.ToString());
        }

        sb.AppendLine("!side");

        return sb.ToString();
    }

    async Task SaveFile()
    {
        using var filecontent = new MemoryStream(Encoding.UTF8.GetBytes(GenerateYdk()));
        var fileSaverResult = await FileSaver.SaveAsync("tellarknight.ydk", filecontent);

        if (fileSaverResult.IsSuccessful)
        {
            await Toast.Make($"The file was saved successfully to location: {fileSaverResult.FilePath}").Show();
        }
        else
        {
            await Toast.Make($"The file was not saved successfully with error: {fileSaverResult.Exception.Message}").Show();
        }
    }
}
