@page "/statistics"
@inherits Components.BaseComponent
@inject CardManager CardManager
@inject StatisticsManager StatisticsManager
@inject GameState GameState

<div class="app-grid-container">
    <!-- Options & Start Button -->
    <div class="item grid-options">
        <div class="grid-options-container">
            <div class="grid-options-1">
                <b>Hand:</b>
            </div>
            <div class="grid-options-2">
                <div style="width: 100%; height: 100%; position: relative;">
                    <div style="width: 100%; background-color: transparent; height: 100%; position: absolute;"></div>
                    <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="StatisticsManager.StatValues.StartingHand">
                </div>
            </div>
            <div class="grid-options-3">
                <b>Sample:</b>
            </div>
            <div class="grid-options-4">
                <div style="width: 100%; height: 100%; position: relative;">
                    <div style="width: @($"{(double)StatisticsManager.StatValues.CurrentCount / StatisticsManager.StatValues.MaximumCount * 100}%"); background-color: lightgreen; height: 100%; position: absolute;"></div>
                    @if (StatisticsManager.StatValues.Active == true)
                    {
                        <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="StatisticsManager.StatValues.CurrentCount" readonly>
                    }
                    else
                    {
                        <input type="text" style="width: 100%; text-align: center; position: relative; border: none; background: transparent;" @bind-value="StatisticsManager.StatValues.MaximumCount">
                    }

                </div>
            </div>
            <div class="grid-options-5">
                <!--<button class="btn btn-danger" HorizontalOptions="Center" @onclick="@(() => ResetCards.InvokeAsync())">Reset</button>-->
            </div>
            <div class="grid-options-7">
                <!--<button class="btn btn-primary" HorizontalOptions="Center" @onclick="@(() => CheckDeck.InvokeAsync())">Check Deck</button>-->
            </div>
        </div>
    </div>
    <!-- Deck Statistics -->
    <div class="item grid-statistics">
        <div class="grid-statistics-container">
            <div class="grid-statistics-1">
                <div class="title">
                    <b>Basic Stats:</b>
                </div>
                <div>
                    Deck Size: @(!StatisticsManager.StatValues.Idle ? decklist.MainDeck.Count() : 40) <br />

                    Total Monsters: @decklist.MainDeck.Count(x => x.Level != null) <br />

                    Combo Chance: @(!StatisticsManager.StatValues.Idle ? Math.Round(((StatisticsManager.StatValues.CurrentCount - StatisticsManager.DeckStatistics.BrickChance) / StatisticsManager.StatValues.CurrentCount) * 100, 2)
                    : 0)% <br />

                    Brick Chance: @(!StatisticsManager.StatValues.Idle ? Math.Round((StatisticsManager.DeckStatistics.BrickChance / StatisticsManager.StatValues.CurrentCount) * 100, 2)
                    : 100)% <br />

                    (1 In @(!StatisticsManager.StatValues.Idle ? Math.Round(StatisticsManager.StatValues.CurrentCount / (double)StatisticsManager.DeckStatistics.BrickChance, 2)
                    : 1)) <br />
                </div>
            </div>
            <div class="grid-statistics-2">
                <div class="title">
                    <b>Summon Stats:</b>
                </div>
                <div>
                    Xyz Summon (0 Tellars): @(!StatisticsManager.StatValues.Idle ? $"{Math.Round((StatisticsManager.DeckStatistics.AverageXyzNoTellar / StatisticsManager.StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />
                    
                    Xyz Summon (1 Tellars): @(!StatisticsManager.StatValues.Idle ? $"{Math.Round((StatisticsManager.DeckStatistics.AverageXyzOneTellar / StatisticsManager.StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                    Xyz Summon (2 Tellars): @(!StatisticsManager.StatValues.Idle ? $"{Math.Round((StatisticsManager.DeckStatistics.AverageXyzTwoTellar / StatisticsManager.StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                    Pendulum Chance: @(!StatisticsManager.StatValues.Idle ? $"{Math.Round((StatisticsManager.DeckStatistics.PendulumSummon / StatisticsManager.StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                    Oracle Combo Chance: @(!StatisticsManager.StatValues.Idle ? $"{Math.Round((StatisticsManager.DeckStatistics.OracleCombo / StatisticsManager.StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                </div>
            </div>
            <div class="grid-statistics-3">
                <div class="title">
                    <b>Hand Stats:</b>
                </div>
                <div>
                    Average # Tellars: @(!StatisticsManager.StatValues.Idle ? $"{Math.Round(StatisticsManager.DeckStatistics.AverageTellars / StatisticsManager.StatValues.CurrentCount, 2)}"
                    : "N/A") <br />
                    
                    Average # Extenders: @(!StatisticsManager.StatValues.Idle ? $"{Math.Round(StatisticsManager.DeckStatistics.AverageExtenders / StatisticsManager.StatValues.CurrentCount, 2)}"
                    : "N/A") <br />

                    Average # Hand Traps: @(!StatisticsManager.StatValues.Idle ? $"{Math.Round(StatisticsManager.DeckStatistics.AverageHandTraps / StatisticsManager.StatValues.CurrentCount, 2)}"
                    : "N/A") <br />


                </div>
            </div>
            <div class="grid-statistics-4">
                <div class="title">
                    <b>Other Stats:</b>
                </div>
                <div>
                    Isolde Brick Chance: @(!StatisticsManager.StatValues.Idle ? $"{Math.Round((StatisticsManager.DeckStatistics.IsoldeBrick / StatisticsManager.StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                    Armored Brick Chance: @(!StatisticsManager.StatValues.Idle ? $"{Math.Round((StatisticsManager.DeckStatistics.ArmoredBrick / StatisticsManager.StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />
                    
                    Ryzeal Lock Chance: @(!StatisticsManager.StatValues.Idle ? $"{Math.Round((StatisticsManager.DeckStatistics.RyzealLock / StatisticsManager.StatValues.CurrentCount) * 100, 2)}%"
                    : "N/A") <br />

                </div>
            </div>

            <div class="grid-statistics-extra">
                <div class="hand-test-container">
                    <!-- Button Section -->
                    <div class="card-button">
                                    <!--<button class="btn btn-secondary" style="width: 42.5%" @onclick="@(() => CheckHand.InvokeAsync())">Check Hand</button>-->
                        <text class="check-hand-text">
                            <b style="margin-right: 3px; font-size: clamp(6px, 1vw, 36px);">Result: </b>
                                        @if (StatisticsManager.StatValues.HandTested == true && StatisticsManager.DeckStatisticsHand.BrickChance != 0)
                            {
                                <text> Bricked!</text>
                            }
                                        else if (StatisticsManager.StatValues.HandTested == true && StatisticsManager.DeckStatisticsHand.BrickChance == 0)
                            {
                                <text> Success!</text>
                            }
                            else
                            {
                                <text> N/A</text>
                            }
                        </text>
                    </div>
                    <!-- Card Grid Section -->
                    <div class="card-container">
                                    @foreach (Card card in StatisticsManager.StatValues.HandTest)
                        {
                            <div class="grid-item">
                                <img src="@card.Image" alt="@card.Name" class="item-image" />
                            </div>
                        }
                        
                        @if (StatisticsManager.StatValues.HandTest.Count == 5)
                        {
                            <div class="grid-item">
                                <img src="./CardArt/Empty.jpg" alt="Empty" class="item-image" />
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code{
    // --------------------------
    // Statistics Code
    // --------------------------

    private async Task CheckDeck()
    {
        StatisticsManager.StatValues.MaximumCount = (StatisticsManager.StatValues.MaximumCount > 100000) ? 100000 : (StatisticsManager.StatValues.MaximumCount < 5000 ? 5000 : StatisticsManager.StatValues.MaximumCount);
        StatisticsManager.StatValues.StartingHand = (StatisticsManager.StatValues.StartingHand < 1) ? 1 : (StatisticsManager.StatValues.StartingHand > 6 ? 6 : StatisticsManager.StatValues.StartingHand);

        StatisticsManager.StatValues.Idle = false;
        StatisticsManager.StatValues.Active = true;
        StatisticsManager.StatValues.CurrentCount = 0;
        StatisticsManager.DeckStatistics = new DeckStatistics();

        int tempCount = 0;
        int tempCountNext = (int)(StatisticsManager.StatValues.MaximumCount * 0.001);
        Random random = new Random();

        decklist.BuildDecklist(supportedCards);
        await InvokeAsync(StateHasChanged);

        // Testing

        // Main Loop
        for (int i = 0; i < StatisticsManager.StatValues.MaximumCount; i++)
        {
            //GameState = RefreshGameState(GameState);
            //GameState = ShuffleDeck(GameState);
            //GameState = DrawHand(GameState);

            // Check Hand & Deck For Optimal Searches
            GameState = CardSearcher.CardSearch(GameState);

            // Analyze Hand & Update Hand Statistics
            StatisticsManager.DeckStatistics = HandAnalyzer.HandCheck(GameState, StatisticsManager.DeckStatistics);

            // Visual updates
            StatisticsManager.StatValues.CurrentCount++;
            tempCount++;
            if (tempCount >= tempCountNext)
            {
                tempCountNext = tempCountNext + random.Next((int)(StatisticsManager.StatValues.MaximumCount * 0.0005), (int)(StatisticsManager.StatValues.MaximumCount * 0.015));
                await InvokeAsync(StateHasChanged);
            }
        }
        StatisticsManager.StatValues.Active = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task CheckHand()
    {
        /*
        StatisticsManager.StatValues.StartingHand = (StatisticsManager.StatValues.StartingHand < 1) ? 1 : (StatisticsManager.StatValues.StartingHand > 6 ? 6 : StatisticsManager.StatValues.StartingHand);

        StatisticsManager.eckStatisticsHand = new DeckStatistics();
        GameStateHand = new GameState();
        handTest = new List<Card>();

        decklist.BuildDecklist(supportedCards);
        GameStateHand = RefreshGameState(GameStateHand);
        GameStateHand = ShuffleDeck(GameStateHand);
        GameStateHand = DrawHand(GameStateHand);

        foreach (Card card in GameStateHand.Hand)
        {
            handTest.Add(card);
        }

        GameStateHand = CardSearcher.CardSearch(GameStateHand);
        deckStatisticsHand = HandAnalyzer.HandCheck(GameStateHand, deckStatisticsHand);

        StatisticsManager.StatValues.HandTested = true;
        await InvokeAsync(StateHasChanged);
        */
    }

    // Resets everything to the start of the app
    public void ResetCards()
    {
        StatisticsManager.RefreshStatistics();
        CardManager.RefreshCards();
        GameState.RefreshGameState(CardManager.MainDeck, CardManager.ExtraDeck);
        supportedCards.RefreshUpdate();
    }
}