@page "/statistics"
@inherits Components.BaseComponent
@inject CardManager CardManager
@inject StatisticsManager StatisticsManager
@inject SupportedCards SupportedCards
@inject GameState GameState
@using System.Text.Json

<div class="app-grid-container">

    <div class="grid-button1 ">
        <button type="button" class="social-btn standard-btn"
                @onclick="@CheckDeck">
            <img src="./deck.svg">  
            <span>Check Deck</span>
        </button>
    </div>

    <div class="grid-button2">
        <button type="button" class="social-btn standard-btn"
                @onclick="@CheckDeck">
            <img src="./card.svg">
            <span>Check Hand</span>
        </button>
    </div>

    <div class="grid-button3">
        <button type="button" class="social-btn reset-btn"
                @onclick='ResetCards'>
            <img src="./reset.svg">
            <span>Reset</span>
        </button>
    </div>

    <div class="grid-options">
        <div class="option-progress-wrap">
            <div class="option-progress-bar" style="width: @($"{(double)StatisticsManager.StatValues.ProgressCount / StatisticsManager.StatValues.MaximumCount * 100}%")"></div>
            <div class="option-content">
                <div class="option-field">
                    <span class="option-label">Hand Size</span>
                    <input type="text" class="option-input" @bind-value="StatisticsManager.StatValues.StartingHand" />
                </div>
                <div class="option-divider"></div>
                <div class="option-field">
                    <span class="option-label">Sample Size</span>
                    @if (StatisticsManager.StatValues.Active)
                    {
                        <input type="text" class="option-input" @bind-value="StatisticsManager.StatValues.CurrentCount" readonly />
                    }
                    else
                    {
                        <input type="text" class="option-input" @bind-value="StatisticsManager.StatValues.MaximumCount" />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="grid-stats">

        <div class="stats-hdr">
            <span>Statistic</span>
            <span>Value</span>
            <span>Variance</span>
        </div>

        <div class="stats-section">Basic Stats</div>
        <div class="stats-group">
            <div class="stats-row"><span class="stats-name">Deck Size</span><span class="stats-val">@StatisticsManager.DisplayValues.DeckSize</span><div class="stats-var"></div></div>
            <div class="stats-row"><span class="stats-name">Total Monsters</span><span class="stats-val">@StatisticsManager.DisplayValues.TotalMonsters</span><div class="stats-var"></div></div>
            <div class="stats-row"><span class="stats-name">Combo Chance</span><span class="stats-val">@StatisticsManager.DisplayValues.ComboChance.Value%</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Brick Chance</span><span class="stats-val">@StatisticsManager.DisplayValues.BrickChance.Value%</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Brick Rate</span><span class="stats-val">1 In @StatisticsManager.DisplayValues.BrickRate.Value</span><div class="stats-var"></div></div>
        </div>

        <div class="stats-section">Summon Stats</div>
        <div class="stats-group">
            <div class="stats-row"><span class="stats-name">Xyz Summon (0 Tellars)</span><span class="stats-val">@StatisticsManager.DisplayValues.XyzSummonZero.Value%</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Xyz Summon (1 Tellar)</span><span class="stats-val">@StatisticsManager.DisplayValues.XyzSummonOne.Value%</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Xyz Summon (2 Tellars)</span><span class="stats-val">@StatisticsManager.DisplayValues.XyzSummonTwo.Value%</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Pendulum Chance</span><span class="stats-val">@StatisticsManager.DisplayValues.PendulumnChance.Value%</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Oracle Combo Chance</span><span class="stats-val">@StatisticsManager.DisplayValues.OracleChance.Value%</span><div class="stats-var"><button>± var</button></div></div>
        </div>

        <div class="stats-section">Hand Stats</div>
        <div class="stats-group">
            <div class="stats-row"><span class="stats-name">Avg # Tellars</span><span class="stats-val">@StatisticsManager.DisplayValues.AverageHandTellars.Value</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Avg # Extenders</span><span class="stats-val">@StatisticsManager.DisplayValues.AverageHandExtenders.Value</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Avg # Hand Traps</span><span class="stats-val">@StatisticsManager.DisplayValues.AverageHandHT.Value</span><div class="stats-var"><button>± var</button></div></div>
        </div>

        <div class="stats-section">Other Stats</div>
        <div class="stats-group">
            <div class="stats-row"><span class="stats-name">Isolde Brick Chance</span><span class="stats-val">@StatisticsManager.DisplayValues.IsoldeBrickChance.Value%</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Armored Brick Chance</span><span class="stats-val">@StatisticsManager.DisplayValues.ArmoredBrickChance.Value%</span><div class="stats-var"><button>± var</button></div></div>
            <div class="stats-row"><span class="stats-name">Ryzeal Lock Chance</span><span class="stats-val">@StatisticsManager.DisplayValues.RyzealLockChance.Value%</span><div class="stats-var"><button>± var</button></div></div>
        </div>

    </div>
</div>


@code{

    protected override void OnInitialized()
    {
        StatisticsManager.ActionRefresh += OnRefresh;
        CardManager.BuildDecklist();
    }

    private async void OnRefresh()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task CheckDeck()
    {
        if(!StatisticsManager.StatValues.Active)
            await StatisticsManager.CheckDeck(CardManager.MainDeck, CardManager.ExtraDeck);
    }

    public async Task ResetCards()
    {
        CardManager.RefreshCards();
        GameState.RefreshGameState(CardManager.MainDeck, CardManager.ExtraDeck);
        SupportedCards.RefreshUpdate();
        StatisticsManager.StatValues.Idle = true;
        StatisticsManager.RefreshStatistics();
    }


    private async Task CheckHandOld()
    {
        /*
        StatisticsManager.StatValues.StartingHand = (StatisticsManager.StatValues.StartingHand < 1) ? 1 : (StatisticsManager.StatValues.StartingHand > 6 ? 6 : StatisticsManager.StatValues.StartingHand);

        StatisticsManager.eckStatisticsHand = new DeckStatistics();
        GameStateHand = new GameState();
        handTest = new List<Card>();

        CardManager.BuildDecklist(supportedCards);
        GameStateHand = RefreshGameState(GameStateHand);
        GameStateHand = ShuffleDeck(GameStateHand);
        GameStateHand = DrawHand(GameStateHand);

        foreach (Card card in GameStateHand.Hand)
        {
            handTest.Add(card);
        }

        GameStateHand = CardSearcher.CardSearch(GameStateHand);
        deckStatisticsHand = HandAnalyzer.HandCheck(GameStateHand, deckStatisticsHand);

        StatisticsManager.StatValues.HandTested = true;
        await InvokeAsync(StateHasChanged);
        */
    }
}